/* ==== FONT SET UP 🚩 ==== */

@font-face {
  font-family: "vk Medium";
  src: url("../fonts/vkMedium.ttf") format("truetype");
}

/* ==== MAIN CSS 🚩 ==== */

:root {
  --bgColor1: rgb(24, 24, 24);
  --bgColor2: #121212;
  --bgColor3: rgb(39, 39, 39);
  --bgColor4: rgb(62, 62, 62);
  --textColor1: rgb(220, 220, 220);
  --textColor2: rgb(254, 48, 48);
  --textColor3: rgb(255, 255, 255);
  --textColor4: rgb(114, 114, 114);
  --textColor5: rgb(189, 189, 189);
  --greenColor: rgb(22, 156, 79);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "vk Medium", sans-serif;
  color: var(--textColor1);
  background-color: var(--bgColor2);
}

.container {
  width: 60%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.horizontal-line {
  width: 100%;
  border: 1px solid rgb(36, 36, 36);
  margin: 15px 0px;
}

button {
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  opacity: 0.9;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* TEXT STYLES 🚩 */

.mainText {
  font-size: 14px;
  font-weight: 500;
}

.btn-category-text {
  font-size: 14px;
  font-weight: 600;
}

.navUsername {
  font-size: 14px;
  font-weight: 600;
  color: var(--textColor2);
}

.postUsername {
  font-size: 13px;
  font-weight: 500;
  color: var(--textColor2);
}

.postOptions {
  font-size: 13px;
  font-weight: 500;
}

.postHeader {
  font-size: 15px;
  font-weight: 700;
}

.text {
  font-size: 13px;
  font-weight: 400;
}

/* BUTTON STYLES 🚩 */

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--textColor3);
}

/* DISPLAY STYLES 🚩 */

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-start-horizontal {
  display: flex;
  align-items: center;
  justify-content: start;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-between-top {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-start-vertical {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.flex-col-start {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* NAVBAR 🚩 */

nav {
  width: 100%;
  background-color: var(--bgColor1);
  padding: 10px 0px;
}

.logo h1 {
  font-size: 16px;
  font-weight: 700;
  color: var(--textColor1);
}

nav .navigation a {
  color: var(--textColor1);
}

nav .serach-bar input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
}

/* ======= Content 🚩 ====== */

.content {
  margin: 20px 0px;
}

/* Sidebar 🚩 */

.sidebar {
  width: 28%;
}

.sidebar-wrapper {
  padding: 15px 10px;
  border-radius: 5px;
  background-color: var(--bgColor1);
}

/* 2 🚩 */

.btns-wrapper {
  background-color: var(--greenColor);
  gap: 5px;
}

.btns-wrapper button {
  background: transparent;
  border: none;
  color: var(--textColor3);
}

.category {
  width: 100%;
  padding: 8px 6px;
  border-radius: 5px;
  cursor: pointer;
}

.category:hover {
  background-color: var(--bgColor3);
}

.category:hover .arrow-down {
  display: block;
  background-color: var(--bgColor3);
}

.category-active {
  background-color: var(--bgColor3);
}

/* Main 🚩 */

.main {
  width: 70%;
}

.entrance {
  padding: 17px;
}

.icon {
  padding: 7px 11px;
  border-radius: 15px;
  background: rgb(62, 62, 62);
}

.main-wrapper {
  position: relative;
  padding: 15px;
  background-color: var(--bgColor1);
  border-radius: 5px;
}

/* Filter 🚩 */

.filter-icon {
  padding: 8px 10px;
  border-radius: 5px;
  background-color: var(--bgColor3);
}

.filter-select {
  padding: 9px 12px;
  background-color: var(--bgColor3);
  border: none;
  border-radius: 5px;
  color: var(--textColor1);
}

/* Option Modal 🚩 */

.option-modal {
  position: absolute;
  background-color: var(--bgColor3);
  padding: 8px;
  border-radius: 5px;
  top: 38px;
  right: 16px;
}

.option-modal .option {
  padding: 7px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.option-modal .option:hover {
  background: rgb(51, 51, 51);
}

.option-icon {
  cursor: pointer;
}

/* ==== LOGIN 🚩 ==== */

.login {
  height: 100vh;
}

.login-wrapper {
  position: relative;
  width: 600px;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--bgColor1);
  padding-bottom: 60px;
}

form {
  width: 50%;
  margin: 0 auto;
}

.login-header {
  margin-bottom: 29px;
}

.input-wrapper {
  padding: 12px;
  border-radius: 5px;
  background-color: var(--bgColor3);
  width: 100%;
}

.input-wrapper input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
}

.memorize-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
  border: 1px solid var(--textColor1);
  width: 16px;
  height: 16px;
  outline: none;
  cursor: pointer;
}

.memorize-checkbox:checked {
  background-color: var(--greenColor);
}

.chek-out {
  width: 100%;
}

.otherwise {
  width: 100%;
}

.back-to-main {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.back-to-main a {
  color: var(--textColor5);
}
