/* ==== FONT SET UP 🚩 ==== */

@font-face {
  font-family: "vk Regular";
  src: url("../fonts/vkRegular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "vk Medium";
  src: url("../fonts/vkMedium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "vk Demibold";
  src: url("../fonts/vkDemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "vk Bold";
  src: url("../fonts/vkBold.ttf") format("truetype");
  font-weight: 700;
}

/* ==== MAIN CSS 🚩 ==== */

:root {
  --bgColor1: rgb(24, 24, 24);
  --bgColor2: #121212;
  --bgColor3: rgb(39, 39, 39);
  --bgColor4: rgb(62, 62, 62);
  --bgColor5: rgb(48, 48, 48);
  --textColor1: rgb(220, 220, 220);
  --textColor2: rgb(254, 48, 48);
  --textColor3: rgb(255, 255, 255);
  --textColor4: rgb(114, 114, 114);
  --textColor5: rgb(189, 189, 189);
  --textColor6: rgb(175, 175, 175);
  --greenColor: rgb(22, 156, 79);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "vk Medium", sans-serif;
  color: var(--textColor1);
  background-color: var(--bgColor2);
}

.container {
  width: 870px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.horizontal-line {
  width: 100%;
  border: 1px solid rgb(36, 36, 36);
  margin: 15px 0px;
}

select {
  cursor: pointer;
}

.line {
  width: 100%;
  border: 1px solid rgb(36, 36, 36);
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.pointer {
  cursor: pointer;
}

/* TEXT STYLES 🚩 */

.logo-text {
  font-family: "vk Bold";
  font-weight: 700;
  font-size: 16px;
}

.px10-fw700 {
  font-family: "vk Bold";
  font-weight: 700;
  font-size: 10px;
}

.px13-fw400 {
  font-family: "vk Regular";
  font-weight: 400;
  font-size: 13px;
}

.px13-fw500 {
  font-family: "vk Medium";
  font-weight: 500;
  font-size: 13px;
}

.px13-fw600 {
  font-family: "vk DemiBold";
  font-weight: 600;
  font-size: 13px;
}

.px14-fw500 {
  font-family: "vk Medium";
  font-weight: 500;
  font-size: 14px;
}

.px14-fw600 {
  font-family: "vk Demibold";
  font-weight: 600;
  font-size: 14px;
}

.px14-fw400 {
  font-family: "vk Regular";
  font-weight: 400;
  font-size: 14px;
}

.px15-fw400 {
  font-family: "vk Regular";
  font-weight: 400;
  font-size: 15px;
}

.px15-fw500 {
  font-family: "vk Medium";
  font-weight: 500;
  font-size: 15px;
}

.px15-fw600 {
  font-family: "vk Demibold";
  font-weight: 600;
  font-size: 15px;
}

.px15-fw700 {
  font-family: "vk Bold";
  font-weight: 700;
  font-size: 15px;
}

.px16-fw600 {
  font-family: "vk DemiBold";
  font-weight: 600;
  font-size: 16px;
}

.px16-fw500 {
  font-family: "vk Medium";
  font-weight: 500;
  font-size: 16px;
}

.px16-fw400 {
  font-family: "vk Regular";
  font-weight: 400;
  font-size: 16px;
}

/* Text Colors 🚩 */

.rgb220 {
  color: var(--textColor1);
}

.rgb175 {
  color: var(--textColor6);
}

.rgb114 {
  color: var(--textColor4);
}

.rgb255 {
  color: var(--textColor3);
}

.rgb189 {
  color: var(--textColor5);
}

.greenColor {
  color: var(--greenColor);
}

.red {
  color: var(--textColor2);
}

/* BUTTON STYLES 🚩 */

.btn {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--textColor3);
  transition: all 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
}

/* DISPLAY STYLES 🚩 */

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-start-horizontal {
  display: flex;
  align-items: center;
  justify-content: start;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-between-top {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.flex-bottom {
  display: flex;
  align-items: end;
  justify-content: start;
}

.flex-start {
  display: flex;
  align-items: start;
  justify-content: start;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-start-vertical {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.flex-col-start {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* NAVBAR 🚩 */

nav {
  width: 100%;
  background-color: var(--bgColor1);
}

.navigation-wrapper {
  padding: 15px 10px;
}

.navigation-wrapper:hover {
  background-color: var(--bgColor3);
}

.navigation-active {
  background-color: var(--bgColor3);
}

nav .search-bar input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  width: 50px;
}

.icon {
  padding: 7px 11px;
  border-radius: 15px;
  background: rgb(62, 62, 62);
}

/* Option Modal 🚩 */

.option-modal {
  position: absolute;
  background-color: var(--bgColor3);
  padding: 8px;
  border-radius: 5px;
  top: 38px;
  right: 16px;
}

.option-modal .option {
  padding: 7px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.option-modal .option:hover {
  background: rgb(51, 51, 51);
}

.option-icon,
.topic-option-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.sidebar-active {
  color: var(--greenColor);
}

.sidebar-ctg-active {
  background-color: var(--bgColor3);
}
