.profile-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pr-header-content {
  width: 100%;
  padding: 16px;
  border: 1px solid rgb(36, 36, 36);
  border-radius: 5px;
  background: rgb(24, 24, 24);
}

.profile-sidebar {
  width: 250px;
}

.profile-main {
  width: 600px;
}

.sidebar-content-wrapper {
  box-sizing: border-box;
  border: 1px solid rgb(36, 36, 36);
  border-radius: 5px;
  background: rgb(24, 24, 24);
}

.pr-content-wrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.pr-btn-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  gap: 15px;
  border-radius: 5px;
  background: rgb(39, 39, 39);
}

.pr-btn {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 8px 15px;
  gap: 15px;
  border-radius: 5px;
  background: rgb(39, 39, 39);
  width: 100%;
}

.pr-btn button,
.pr-btn-center button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.sidebar-user {
  padding: 16px;
}

.pr-main-content {
  box-sizing: border-box;
  border: 1px solid rgb(36, 36, 36);
  border-radius: 5px;
  background: rgb(24, 24, 24);
}

.pr-main-content-wrapper {
  padding: 16px;
}

.gift-btn {
  padding: 7px 9px;
  box-sizing: border-box;
  border: 2px solid rgb(39, 39, 39);
  border-radius: 5px;
}

.gift-btn button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.pr-main-content-wrapper .send-icon {
  width: 50px;
  height: 45px;
}
