.post-entrance {
  box-sizing: border-box;
  border: 1px solid rgb(36, 36, 36);
  border-radius: 5px;
  background: rgb(24, 24, 24);
}

.section-posts {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(36, 36, 36);
  border-radius: 5px;
  background: rgb(24, 24, 24);
}

.section-post,
.section-post-header {
  padding: 16px;
}

.move-btns {
  padding: 0px 20px;
  border-radius: 5px;
  background-color: rgb(39, 39, 39);
}

.move-btn {
  padding: 5px 27px;
  transition: all 0.3s ease;
}

.move-icon {
  padding: 3px 27px;
}

.move-btn:hover {
  background-color: rgb(22, 156, 79) !important;
}

.move-btn button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.move-btn-active {
  background-color: rgb(22, 156, 79);
}
